[Unit]
Description=Syncing GitHub to GitLab
After=network.target

[Service]
Type=simple
Environment="GIT_MIRROR_CONFIG_FILE=/etc/gitmirror/config.json"
ExecStart=/usr/bin/java -cp /usr/bin/gitmirror gitmirror.simple

[Install]
WantedBy=multi-user.target
